/* main css optimized for iphone 5 width (320px) */

* {
    box-sizing: border-box;
  }
  
  body {
    background: rgb(211, 211, 211);
  }
  
  .container {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: screen;
    border: solid 1px rgb(245, 53, 213);
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow : 0px 0px 5px rgb(252, 255, 84);
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(0,0,0,0.7);
    font-weight: lighter;
    font-size: 17px;
  }
  
  h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:rgb(245, 53, 213);
    font-size: 75px;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bolder;
    margin-bottom: 15px;
    background-blend-mode: screen;
  }
  
  #js-form {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
  }
  
  #js-search-term {
    width: 40%;
    margin: 20px;
    border: solid lightgrey 2px;
    border-radius: 5px;
    padding: 10px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
    font-size: 17px;
  }
  
  .go {
    width: 40%;
    background: rgb(33, 211, 255);
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
  }

  button:active {
    background-color: rgb(197, 199, 65);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.7);
    transform: translateY(4px);
  }
  
  button:hover {
    cursor: pointer;
    background-color:rgb(252, 255, 84);
    transition: all 0.3s ease;
    color:  rgba(0,0,0,0.7);
    border: solid 2px;
  }
  
  .error-message {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
  
  .hidden {
    display: none;
  }
  
  
  .hidden2 {
    display: none;
  }
  
  
  ul {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 45px;
    border-bottom: solid lightgrey 2px;
    position: relative;
    padding-right: 50px;
  }
  
  h2 {
    font-size: 25px;
    text-align: center;
    color:  rgba(0,0,0,0.7);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .list-item {
    color:  rgba(0,0,0,0.7);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    animation: stage 1s;
  }

  .interact{
    animation: stage 1s;
  }

  @keyframes stage {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
  }
}
  
  a {
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    color: rgba(135, 58, 197, 0.7);
    font-size: 20px;
  }
  
  
  .add-item {
    background: rgb(33, 211, 255);
    border: solid 1px;
    border-radius: 50%;
    width: 35px;
    color: white;
    font-size: 25px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    bottom: 5px;
    right: 0;
    animation: stage-right 1s;
  }

  @keyframes stage-right {
    from {
      margin-right: -100%;
    }
    to {
      margin-right: 0%;
    }
  }

  #check {
    color: rgb(245, 53, 213);
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    bottom: 5px;
    right: 0;
  }

  
  .delete-item {
    background: rgb(33, 211, 255);
    border: solid 1px;
    border-radius: 50%;
    width: 25px;
    color: white;
    font-size: 20px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    bottom: 3px;
    right: 0;
  }
  
  .disclaimer {
   color:  rgba(0,0,0,0.7);
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: lighter;
   font-size: 13px;
   margin-top: 75px;
  }
  
  #interaction-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  
  .interaction-list {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 25px;
  }
  
  ol {
    text-align: center;
    display: flex;
    padding: 0px;
  }
  
  .get {
    width: auto;
    background: rgb(245, 53, 213);
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
    margin: 5px;
    position: center;
    bottom: 0px;
  }
  
  #interaction-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid lightgrey 2px;
    border-radius: 5px;
    padding: 20px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
    color: rgba(0,0,0,0.7);
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    width: 95%;
  }

    
  .restart {
    background: rgb(252, 255, 84);
    border: solid 2px white;
    border-radius: 5px;
    width: auto;
    color: rgba(0,0,0,0.7);
    font-size: 20px;
    box-shadow : 0px 0px 5px rgba(0,0,0,0.7);
    padding: 10px;
    font-size: 15px;
    margin: 5px;
  }

  .restart:hover {
    cursor: pointer;
    background-color:rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    color:  rgb(252, 255, 84);
    border: solid 2px;
  }
  
/* iphone 6 width and bigger mobile devices */
@media (min-width: 370px) {


}

@media (min-width: 450px) {


}


@media (min-width: 550px) {

}

@media (min-width: 650px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 750px){
  
  body {
    background: url(bwimage.png) no-repeat center center fixed;
  }

  .container {
    max-width: 80%;
  }
}

/* desktop */
@media (min-width: 960px){
  
  body {
    background: url(bwimage.png) no-repeat center center fixed;
  }

  .container {
    max-width: 60%;
    padding: 30px;
  }
  
  #interaction-wrapper {
    width: 40%;
  }

  h1 {
    font-size: 95px;
  }

  .disclaimer {
    font-size: 14px;
  }
}
